<!DOCTYPE html><%
const themeName = app.config.themeName ? app.config.themeName : 'minimal';
//const viewList = app.getViewList();
%>
<html>
    <head>
        <%- include(`template/partial/head`) %>
        <%- include(`theme/${themeName}/partial/head`) %>
    </head>
    <body class='<%= themeName ? `theme-` + themeName : `no-theme` %>'>
        <%- include(`theme/${themeName}/partial/header`) %>

        <article data-path="iframe" class="page-view">
            <iframe data-src="https://www.facebook.com/groups/arizonafriendsofhomeless/"></iframe>
        </article>

        <%- include(`theme/${themeName}/partial/footer`) %>
    </body>
</html>