<!DOCTYPE html><%
const theme = app.config.theme ? app.config.theme : 'minimal';
//const viewList = app.getViewList();
%>
<html>
    <head>
        <%- include(`template/partial/head`) %>
        <%- include(`client/theme/${theme}/partial/head`) %>
    </head>
    <body class='<%= theme ? `theme-` + theme : `no-theme` %>'>
        <%- include(`client/theme/${theme}/partial/header`) %>

        <article data-path="iframe" class="page-view">
            <iframe data-src="https://www.facebook.com/groups/arizonafriendsofhomeless/"></iframe>
        </article>

        <%- include(`client/theme/${theme}/partial/footer`) %>
    </body>
</html>