<!DOCTYPE html><%
const themeName = app.config.themeName ? app.config.themeName : 'minimal';
const viewList = app.getViewList();
%>
<html>
    <%- include(`theme/${themeName}/partial/head`) %>
    <body class='<%= themeName ? `theme-` + themeName : `no-theme` %>'>
        <%- include(`theme/${themeName}/partial/header`) %>

        <% for(var i=0; i < viewList.length; i++) { %>
        <%- include(viewList[i]) %>
        <% } %>
        <article data-path="iframe" class="page-article">
            <iframe data-src="https://www.facebook.com/groups/arizonafriendsofhomeless/"></iframe>
        </article>

        <%- include(`theme/${themeName}/partial/footer`) %>
    </body>
</html>