<!DOCTYPE html>
<html>
    <head>
        <base href="<%=baseHRef;%>">
        <title><%=article.title || site.name%></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" CONTENT="<%=article.keywords || site.keywords || ""%>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="theme/default/assets/default.theme.css" rel="stylesheet" />
        <script src="theme/default/assets/default.theme.client.js"></script>
    </head>
    <body class='theme-default'>
        <header>
            <div class="logo-container">
                <div class="logo"></div>
                <a href="" class="logo-text">
                    <%=site.name%>
                </a>
            </div>
            <nav>
                <ul class="nav-menu">
                    <%_
                    if(typeof menu !== "undefined") {
                        for(let i=0; i<menu.length; i++) {
                            const menuItem = menu[i];
                            if(!menuItem)
                                continue;
                            const subMenuItems = menu[i].subMenu || [];
                    _%>
                    <li>
                        <a href="<%=menuItem.path%>"><%=menuItem.title%></a>
                        <%_ if (subMenuItems.length > 0) { _%>
                        <ul class="nav-submenu">
                            <%_
                            for(let i=0; i<subMenuItems.length; i++) {
                                const subMenuItem = subMenuItems[i];
                                if(typeof subMenuItem === "string") {
                                    _%><%-subMenuItem%><%_
                                } else {
                                    _%><li><a href="<%=subMenuItem.path%>"><%=subMenuItem.title%></a></li><%_
                                }
                            }
                            _%>
                        </ul>
                        <%_ } _%>
                    </li>
                    <%_
                        }
                    }
                    %>
                </ul>
            </nav>
        </header>

        <article>
            <%-article.content%>
        </article>

        <footer>
            <ul class="flex-list" style="align-items: normal;">
                <li>
                    <h2>Created With</h2>
                    <a class="created-by" target='_blank' href='https://github.com/clevertree/cms'>CleverTree CMS</a>
                </li>
                <li>
                    <h2>Get Involved!</h2>
                    <p>
                    </p>
                </li>
                <li>
                    <h2>Contact Us</h2>
                    <p>
                        Email: <a href="mailto:<%=site.contact%>"><%=site.contact%></a>
                        <br/>
                        Copyright Clevertree LLC
                    </p>
                </li>
            </ul>
        </footer>
    </body>
</html>