<!DOCTYPE html>
<html>
    <head>
        <% if(baseHRef) {%>
        <base href="<%=baseHRef;%>">
        <% } %>
        <title><%=hostname || "Website"%></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" CONTENT="<%=hostname || "Website"%>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="theme/default/assets/default.theme.css" rel="stylesheet" />
        <script src="theme/default/assets/default.theme.client.js"></script>
    </head>
    <body class='theme-default'>
        <header>
            <div class="logo-container">
                <div class="logo"></div>
                <a href="" class="logo-text">
                    <%=hostname || "Website"%>
                </a>
            </div>
            <nav>
                <%- include('./partial/nav.ejs') %>
            </nav>
        </header>

        <article>
            <%_ if(typeof userSession !== "undefined") {
                const sessionMessage = userSession.popMessage();
                if(sessionMessage) {
            _%>
            <section class="message" style="text-align: center; font-size: smaller;">
                <%-sessionMessage.message%>
            </section>
            <%_ }} _%>

            <%_ if(typeof article !== "undefined" && typeof sessionUser !== "undefined" && sessionUser.isAdmin()) { _%>
            <section class="page-edit" style="text-align: center; font-size: smaller;">
                <a href=":article/<%=article.id%>/edit">Edit this page</a>
            </section>
            <%_ } _%>
            <%-content%>
        </article>

        <footer>
            <ul class="flex-list" style="align-items: normal;">
                <li>
                    <h2>Acts of Kindness</h2>
                    <p>
                    </p>
                    <a class="created-by" target='_blank' href='https://github.com/clevertree/cms'>Created with CleverTree CMS</a>
                </li>
                <li>
                    <h2>Get Involved!</h2>
                    <p style="text-align: justify;">
                        AFOH is on Facebook!  Join for updates, events, ways to volunteer or support outreach efforts.
                        <br/>
                        Donate! There are many projects that need help!
                        <br/>
                        AFOH Amazon Wishlist, ship items directly to AFOH for our outreach efforts!
                        <br/>
                        Volunteer for sandwich making, and more!
                    </p>
                </li>
                <li>
                    <h2>Contact Us</h2>
                    <p style="text-align: left;">
                        2233 N. Laurel Ave.
                        <br/>
                        Phoenix, AZ
                        <br/>
                        Email: <a href="mailto:admin@afoh.info">admin@afoh.info</a>
                        <br/>
                        Copyright Clevertree LLC
                    </p>
                </li>
            </ul>
        </footer>
    </body>
</html>