                <ul class="nav-menu">
                    <%_
                    if(typeof menu !== "undefined") {
                        for(let i=0; i<menu.length; i++) {
                            const menuItem = menu[i];
                            if(!menuItem)
                                continue;
                            const subMenuItems = menu[i].subMenu || [];
                    _%>
                    <li>
                        <a href="<%=menuItem.path%>"><%=menuItem.title%></a>
                        <%_ if (subMenuItems.length > 0) { _%>
                        <ul class="nav-submenu">
                            <%_
                            for(let i=0; i<subMenuItems.length; i++) {
                                const subMenuItem = subMenuItems[i];
                                if(typeof subMenuItem === "string") {
                            _%><%-subMenuItem%><%_
                                } else {
                            _%><li><a href="<%=subMenuItem.path%>"><%=subMenuItem.title%></a></li><%_
                                }
                            }
                            _%>
                        </ul>
                        <%_ } _%>
                    </li>
                    <%_
                        }
                    }
                    %>
                </ul>