<!DOCTYPE html>
<html>
    <head>
        <base href="<%=site.baseURL;%>">
        <title><%=article.title || site.name%></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" CONTENT="<%=article.keywords || site.keywords || ""%>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="theme/default/client/default.theme.css" rel="stylesheet" />
        <script src="theme/default/element/default.theme.element.js"></script>
    </head>
    <body class='theme-default'>
<%- site.customHeader || include('header.partial.ejs') %>


        <article>
            <%-article.content%>
        </article>


<%- site.customFooter || include('footer.partial.ejs') %>
    </body>
</html>