<!DOCTYPE html>
<html>
    <head>
        <base href="<%=baseURL;%>">
        <title><%=title%></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" CONTENT="<%=keywords || ""%>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="userID" content="<%-session ? session.userID : ''%>">

        <link href=":theme/default/:client/default.theme.css" rel="stylesheet" />
        <script src=":theme/default/:client/element/theme-default-nav-menu.element.js"></script>
    </head>
    <body class='theme-default'>
<%- htmlHeader || include('header.partial.ejs') %>

        <article<%-id ? ` data-content-id="${id}"` : ''%>>
            <%-data%>
        </article>

<%- htmlFooter || include('footer.partial.ejs') %>
    </body>
</html>