<!DOCTYPE html>
<html>
    <head>
        <base href="<%=site.baseURL;%>">
        <title><%=content.title || site.name%></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" CONTENT="<%=content.keywords || site.keywords || ""%>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href=":theme/default/:client/default.theme.css" rel="stylesheet" />
        <script src=":theme/default/:client/default.theme.client.js"></script>
    </head>
    <body class='theme-default'>
<%- content.themeHeader || include('header.partial.ejs') %>


        <article>
            <%-content.data%>
        </article>


<%- content.themeFooter || include('footer.partial.ejs') %>
    </body>
</html>