<ul class="nav-menu">
                <%_ if(typeof menu !== "undefined") for(let i=0; i<menu.length; i++) {
                    const menuItem = menu[i][0];
                    if(!menuItem)
                        continue;
                    const subMenuItems = menu[i][1];
                    _%>
                    <li>
                        <a href="<%=menuItem.path%>"><%=menuItem.title%></a>
                        <%_ if (subMenuItems.length > 0) { _%>
                        <ul class="nav-submenu">
                            <%_ for(let i=0; i<subMenuItems.length; i++) {
                                const subMenuItem = subMenuItems[i][0];
                            _%>
                            <li><a href="<%=subMenuItem.path%>"><%=subMenuItem.title%></a></li>
                            <%_ } _%>
                        </ul>
                        <%_ } _%>
                    </li>
                <%_ } %>

                <%_ if(!req.session.userID) { _%>
                    <li>
                        <a href=":user/:login">Log in</a>
                        <ul class="nav-submenu">
                            <li>
                                <a href=":user/:register">Register</a>
                            </li>
                        </ul>
                    </li>
                <%_ } else { _%>
                    <li>
                        <a href=":user/<%=req.session.userID%>">My Profile</a>
                        <ul class="nav-submenu">
                            <%_ if(typeof article !== 'undefined') { _%>
                            <li>
                                <a href=":article/<%=article.id%>/edit">Edit current article (ID: <%=article.id%>)</a>
                            </li>
                            <%_ }  _%>
                            <li>
                                <a href=":article">List Articles</a>
                            </li>
                            <li><hr/></li>
                            <li>
                                <a href=":user/<%=req.session.userID%>/:profile">Edit Profile</a>
                            </li>
                            <li>
                                <a href=":user/:logout">Log out</a>
                            </li>
                        </ul>
                    </li>
                <%_ } _%>
                </ul>